<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>failled</title>
    </head>
    <body>
        <h3>User registeration failed</h3>

    </body>
</html>